<div class="panel panel-default">
  <div class="panel-heading">
    <h4><%= t('tasks.edit') %></h4>
  </div>
  <div class="panel-body">
    <%= form_for @task do |e| %>
      <%= t('tasks.name') %>:
        <div class="input-group" name='dynamic'>    
          <%= e.text_field :name, :class => "form-control"%>
          <span class="input-group-addon"><%= t('tasks.name') %></span>
        </div><br/>
      <%= t('tasks.cmd') %>:
        <div class="input-group">
          <%= e.text_field :cmd, :class => "form-control", :size => 58 %><br/>
          <span class="input-group-addon"><%= t('tasks.cmd') %></span>
        </div><br/>
      <%= t('tasks.timeout') %>:
        <div class="input-group">
          <%= e.text_field :timeout, :class => "form-control" %>
          <span class="input-group-addon"><%= t('all.seconds') %></span>
        </div><br/>
      <%= t('tasks.num_machines') %>:
        <%= e.select :number, (['1', '2', '3', '4'].map {|i| [i,i] }), {}, {:class => "form-control"} %><br/>
      <%= e.submit t('all.save'), :class => "btn btn-default btn-md btn-block" %>
    <% end %>
  </div>
</div>