<div class="panel panel-default">
	<div class="panel-heading">
		<h4><%= t('tasks.my') %></h4>
	</div>
	<div class="panel-body" style="max-height:800px; overflow-y: auto; bgcolor:#000000;">
		<table class="table table-hover">
			<tr align="center">
				<td width="20px"><%= t('tasks.name') %> </td>
				<td width="20px"><%= t('tasks.email') %> </td>
				<td><%= t('tasks.status') %> </td>
				<td><%= t('tasks.timeout') %> </td>
				<td><%= t('tasks.progress') %> </td>
				<td><%= t('tasks.cmd') %> </td>
				<td><%= t('tasks.file') %> </td>
				<td><%= t('tasks.vms') %> </td>
				<td><%= t('tasks.rest') %>? </td>
				<td><%= t('tasks.number') %> </td>
			</tr>
			<% @tasks.each do |e| %>
				<tr align="center">
					<td><%= link_to e.name, task_path(e)%></td>
					<td>
						<% for i in 0..e.email.size-1 %>
							<%= e.email[i] %></br>
						<% end %>
					</td>
					<td><%= e.status %></td>
					<td><%= e.timeout %></td>
					<td><%= e.progress %></td>
					<td><%= e.cmd %></td>
					<td><%= e.file %></td>
					<td>
						<% for i in 0..e.vms.size-1 %>
							<%= e.vms[i].name %></br>
						<% end %>
					</td>
					<td><%= e.restore %></td>
					<td><%= e.number %></td>
				</tr>
			<% end %>
		</table>
		<%= link_to t('tasks.add'), new_task_path %>
	</div>
</div>