<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Create task</h4>
  </div>
  <div class="panel-body">

    <%= form_for @task, :url => { :action => "upload" }, :html=>{ :id => "sendform", :onsubmit =>
"return validateForm(this)" } do |e| %>

      <b><%= t('all.step') %> 1. <%= t('all.task_name') %> </b><br/>
      Enter Task name:
      <div id="taskname" class="input-group" name='dynamic'>    
        <%= e.text_field :name, :class => "form-control", :value => "Task_#{@time}", :maxlength => "40" %>
        <span class="input-group-addon"><%= t('all.task_name') %></span>
      </div><br/>

      <b><%= t('all.step') %> 2. <%= t('all.select_vms') %> </b><br/>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Filter
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            <table class="table table-hover">
              <tbody>
                <tr class="default" id="fil" name="filters">
                  <td style='text-align: center;'>
                    <select class='form-control' id='select1' onchange='filtero(this);' name='select'>
                      <% for i in 0..@os.size-1 %>
                        <% if i==0 %>
                          <option value="<%= i %>" selected='selected'><%= @os[i] %></option>
                        <% else %>
                          <option value="<%= i %>"><%= @os[i] %></option>
                        <% end %>
                      <% end %>
                    </select>
                  </td>
                  <td style='text-align: center;'><span class='glyphicon glyphicon-signal' aria-hidden='true'></span></td>
                  <td style='text-align: center;'>
                    <select class='form-control' id='select2' onchange='filtero(this);' name='select'>
                      <% for i in 0..@os.size-1 %>
                        <% if i==@os.size-1 %>
                          <option value="<%= i %>" selected='selected'><%= @os[i] %></option>
                        <% else %>
                          <option value="<%= i %>"><%= @os[i] %></option>
                        <% end %>
                      <% end %>
                    </select>
                  </td>
                </tr>
                <tr class="default">
                  <td style='text-align: center;'>
                    <i><%= t('all.check_all') %> </i><%= check_box_tag('filter', 'checkall', false, :onClick => "filtero(this);", :checked => true) %>
                    <div id="number"><h4 class="num"><%= @machines.size-1 %></h4></div>
                    <%= t('all.checked') %>
                  </td>
                  <td style='text-align: left;'>
                    <input type="radio" name="group1" onclick="filtero(this)" value="x86"> x86<br>
                    <input type="radio" name="group1" onclick="filtero(this)" value="x64"> x64<br>
                    <input type="radio" name="group1" onclick="filtero(this)" value=" " checked> <%= t('all.all') %><br>
                    <input type="radio" name="group1" onclick="filtero(this)" value="custom"> <%= t('all.custom') %>
                  </td>
                  <td style='text-align: left;'>
                    <input type="radio" name="group2" onclick="filtero(this)" value="server"> <%= t('all.server') %><br>
                    <input type="radio" name="group2" onclick="filtero(this)" value="desktop"> <%= t('all.desktop') %><br>
                    <input type="radio" name="group2" onclick="filtero(this)" value=" " checked> <%= t('all.all') %><br>
                    <input type="radio" name="group2" onclick="filtero(this)" value="custom"> <%= t('all.custom') %>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div style="max-height:350px; overflow-y: auto; bgcolor:#000000;">
        <table class="table table-hover">
          <tbody id="content">
            <% for i in 0..@os.size-1 %>
              <tr class='info'>
              <td style='width:160px; text-align: center;'>
              </td>
              <td style='text-align: center;'><i><%= @os[i] %></i>
              </td>
              </tr>
              <% for j in 0..@vms.size-1 %>
                <% if @vms[j].subname == @os[i] %>
                  <tr name="vmss" class='default'>
                  <td style='width:160px; text-align: center;'>
                    <%= e.check_box :vms, {:multiple => true, :id => "#{j}", :onClick => "checker()", :checked => true}, "#{@vms[j].id}", false%>
                  </td>
                  <td style='text-align: center;'><%= @vms[j].name %>
                  </td>
                  </tr>
                <% end %>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div><br/>

      <b><%= t('all.step') %> 3. <%= t('all.upload_file') %> </b><br/>
      <div id="filer">
        <%= t('all.file') %>:
        <div id="files" class="input-group has-default has-feedback" name="dynamicadd">
          <%= e.file_field  :file, :class => "form-control", :onchange =>"validateFiles(this);", :data => {:max_file_size => 32.megabytes}, accept: 'application/octet-stream', :multiple => true %>
          <span class="input-group-addon">File</span>
        </div>
        <%= t('all.additional_files') %>:<br/>
      </div>
      <input name='arrow' class='btn btn-link' type='button' onclick='addfile()' value='Add'><br/>
      <%= t('all.CMD') %>:
      <div id="comd" class="input-group">
        <%= e.text_field :cmd, :class => "form-control", :size => 58, :value => "" %><br/>
        <span class="input-group-addon"><%= t('all.cmd') %></span>
      </div><br/>

      <b><%= t('all.step') %> 4. <%= t('all.advanced_options') %> </b><br/>
      Timeout:
      <div id="timeout" class="input-group">
        <span class="input-group-addon"><%= check_box :checktimeout, "", {:onClick => "enable_timeout(this);"} %></span>
        <%= e.text_field :timeout, :class => "form-control", :value => "", :disabled => true, :placeholder => "0" %>
        <span class="input-group-addon"><%= t('all.seconds') %></span>
      </div>
      Number of concurrent machines:
      <%= e.select :number, (['1', '2', '3', '4'].map {|i| [i,i] }), {}, {:class => "form-control"}%>
      Restore from backup?
      <%= e.check_box :restore, {checked: true} %><br/>
      Email:
      <div id="email">
        <div id="emaildiv" class="input-group" name='dynamic'>
          <%= e.text_field :email, :multiple => true, :value => nil, :class => "form-control", :placeholder => "example@gmail.com", :onchange => 'addemail(this)' %>
          <span class="input-group-addon"><%= t('all.email') %></span>
        </div>
      </div><br/>

      <b><%= t('all.step') %> 5. <%= t('all.execute') %> :) </b><br/>
      <%= e.submit "GO", :class => "btn btn-primary btn-md btn-block" %>
    <% end %>
  </div>
</div>