<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Robogroft" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>
    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->

  </head>
  <body>

    <div class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="col-sm-2">
          <a class="navbar-brand" href="#">Robogroft </a>
        </div>
        <div class="col-md-8"></div>

        <div class="pull-right">
          <div class="btn-group">
              <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu pull-right">
                <% if current_user %>
                  <li><%= link_to current_user.name, user_path(current_user.id) %></li>
                  <li><%= link_to "Edit profile", edit_user_path(current_user), :class => 'navbar-link' %></li>
                  <% if current_user.role == "admin" %>
                      <li><%= link_to t('user.users'), "/users"%></li>
                      <li><%= link_to t('user.vms'), "/vms"%></li>
                  <% end %>
                  <li role="separator" class="divider"><hr></li>
                  <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
                  <li><%= link_to_unless_current "English", locale: "en" %></li>
                  <li><%= link_to_unless_current "Русский", locale: "ru" %></li>
                <% else %>
                  <li><%= link_to t('session.signup'), new_user_registration_path, :class => 'navbar-link'  %></li>
                  <li><%= link_to t('session.log_in'), new_user_session_path, :class => 'navbar-link'  %></li>
                  <li><%= link_to_unless_current "English", locale: "en" %></li>
                  <li><%= link_to_unless_current "Русский", locale: "ru" %></li>
                <% end %>
              </ul>
            </div>
        </div>

      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
        <div class="thumbnail">
          <%= image_tag("/robogroft2.jpg") %>
          <% if current_user %>
            <div >
              <h3><%= $mes %></h3>
            </div>
          <% else %>
            <div >
              <%= t('session.introduce') %>:
              <%= link_to t('session.log_in'), new_user_session_path, :class => 'navbar-link'  %> <%= t('all.or') %> <%= link_to t('session.signup'), new_user_registration_path, :class => 'navbar-link'  %>
            </div>
          <% end %>
        </div>
      </div>
        <div class="col-lg-8">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
        <div class="col-sm-2">
          <div class="list-group">
            <a href="#" class="list-group-item active" role="button"><p><%= t('index.index') %></p></a>
            <% if current_user %>
              <%= link_to t('tasks.create'), new_task_path, :class => 'list-group-item', :role => "button"%>
            <% else %>
              <%= link_to t('tasks.create'), new_task_path, :onclick => "return false", :class => 'list-group-item disabled', :disabled => "disabled", :role => "button"%>
            <% end %>
            <%= link_to t('tasks.mytask'), tasks_path, :class => 'list-group-item', :role => "button"%>
            <%= link_to t('tasks.current'), current_tasks_path, :class => 'list-group-item', :role => "button"%>
            <%= link_to t('tasks.pending'), pending_tasks_path, :class => 'list-group-item', :role => "button"%>
            <a href="#" class="list-group-item" role="button"><p><%= t('tasks.results') %></p></a>
          </div>
      </div>
      </div><!--/row-->

      <footer class="container-fluid text-center">
        <p>&copy; Robogroft 2015</p>
      </footer>
      
    </div> <!-- /container -->

  </body>
</html>
